<div class = 'container'>
	<h1>FRND User Page!</h1>

	<p><strong>Name:</strong> <%= @user.name %></p>
	<p><strong>Grade:</strong> <%= @user.grade %></p>
	<p><strong>Email:</strong> <%= @user.email %></p>
	<p><strong>Phone Number:</strong> <%= @user.phone %></p>

	<h3><%= @user.name %>'s Upcoming Slots</h3>
	<% @user.shift_items.all.sort{|a, b| a.day <=> b.day}.each do |shiftitem| %>
		<%= shiftitem.dayf %> | <%= link_to("Sub Request", new_sub_path(shiftitem.id) , method: :post) %><br>
	<% end %>

	<h3><%= @user.name %>'s Shifts</h3>
	<% @user.shifts.each do |shift| %>
		<%= shift.weekday %> <%= shift.time %><br>
	<% end %>

	<br><%= link_to("Log Out",  destroy_user_session_path, method: :delete) %>
</div>