<%= image_tag("web_logo.png", id: "logo") %>
<ul class="navc">
  <li><%= link_to("Profile", current_user) %></li>
  <li><%= link_to("Shifts", shifts_path) %></li>
  <li><%= link_to("Team", users_path) %></li>
  <li><%= link_to("Log Out", destroy_user_session_path, method: :delete) %></li>
</ul>